 <!-- header.html (ch09www project) -->
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand' align=center>
                    Stock Strategy
                </div>
            </div>
            <ul class='nav navbar-nav'>
                <li class='active'><a href='/'>Home</a></li>
                    {% if username %}
                    <li><a href='/strategy'>strategy</a></li>
                    <li><a href='/logout'>logout</a></li>
                    {% else %}
                    <li><a href='/login'>login</a></li>
                    {% endif %}
                    <li><a href='/admin'>Admin Management</a></li>
            </ul>
        </div>
    </nav>