<!-- index.html (ch09www project) -->
{% extends "base.html" %}
{% block title %}分享日記{% endblock %}
{% block content %}
<div class='container'>
    {% for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{ message }}</div>
    {% endfor %}
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading' align=center>
                    <h3>Strategy Report</h3>
                </div>
            </div>
        {% load staticfiles %}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{% static 'js/strategy_run.js' %}" type="text/javascript" charset="utf-8"></script>

        <div align=left>
        	<button class='btn daily-run'>realtime daily run</button>
        	<button class='btn daily-del'>delete daily run</button>
        </div>
        <img src="{% static 'img/backtest_result.png' %}">
            <br>
            <h3>Output</h3>
            <br/>
            <div style="width:1200px; height:400px; overflow: auto;" >
            {{output|linebreaksbr}}
            </div>
            <br/>
            <h3>Error</h3>
            <br/>
            {{err|linebreaksbr}}
            <br/>
        </div>
        {% endblock %}

