<!-- index.html (ch09www project) -->
{% extends "base.html" %}
{% block title %}分享日記{% endblock %}
{% block content %}
<div class='container'>
    {% for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{ message }}</div>
    {% endfor %}
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading' align=center>
                    <h3>我的Strategy</h3>
                </div>
            </div>
        {% load staticfiles %}
        <img src="{% static 'img/backtest_result.png' %}">
            <br>
            <h3>Output</h3>
            <br>
            {{output}}
            <br>
            <h3>Error</h3>
            <br>
            {{err}}
        </div>
        {% endblock %}

